* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    /* min-height & flex-direction set to make footer stick to bottom */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --light-grey: #FAFAFA;
    --light-blue: #CBE1EC;
    --dark-blue: #0C4A60;
    --white: #FFF;
    --black: #000;

}  

/* TYPOGRAPHY */
.text-light {
    font-weight: 300;
}

.text-bold {
    font-weight: 700;
}

.text-20 {
    font-size: 1.25rem;
}

.text-25 {
    font-size: 1.56rem;
}

.text-30 {
    font-size: 1.875rem;
}

.text-40 {
    font-size: 2.5rem;
}

/* COLORS */
.background-grey-light {
    background-color: var(--light-grey);
}

.background-blue-light {
    background-color: var(--light-blue);
}

.background-blue-dark {
    background-color: var(--dark-blue);
}

.background-white {
    background-color: var(--white);
}

.border-blue-dark {
    border: 5px solid var(--dark-blue);
}

.text-white {
    color: var(--white);
}

/* HEADER */
.logo {
    width: 370px;
    display: block;
    margin: 2.5em auto;
}

/* NAV */
.nav-tabs {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 730px;
    margin: 0 auto;
    padding: 0;
}

.nav-tab {
    padding: 0.75em;
}

/* LAYOUT */
.main-content {
    max-width: 90%;
    margin: 0 auto;
}

.overview-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    padding: 1.875em;
}

.accounts-overview, .spendings-overview {
    max-width: 510px;
    width: 100%;
}

.info-container {
    margin: 0 auto;
    max-width: 520px;
    text-wrap: wrap;
    text-align: center;
}

.height-100 {
    height: 100vh;
}

.margin-top-0 {
    margin: 0;
}

.padding-top-50 {
    padding-top: 1.6em;
}

footer {
    text-align: center;
    padding: 1.25em;
    margin-top: auto;
}

footer p  {
    margin: 0;
}

/* LISTS */
.accounts-items, .spendings-items {
    list-style-type: none;
    padding-left: 0;
}

.account-item, .spending-item {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}

.account-item {
    width: 500px;
    padding: 0.2em 0.8em;
    margin-bottom: 0.4em;
}

.spending-item {
    width: 250px;
    margin-bottom: 1em;
}

.spending-item p {
    margin: 0;
    padding: 0.5em 0.75em; 
}

/* LINKS & BUTTONS */
.action-btns {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 1.56em;
}

.action-btn {
    background-color: var(--white);
    border-radius: 50px;
    width: 275px;
    padding:0.33em;
    cursor: pointer;
}

.action-btn:hover,
.action-btn:focus {
    background-color: var(--light-blue);
    width: 190px;
}

.nav-link {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: -5px;
    left: 0;
    background-color: var(--white);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 800px) {
    .logo {
        width: 270px;
    }

    .nav-tabs {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .nav-tab {
        padding: 10px;
    }

    .nav-link, .action-btn {
        font-size: 20px;
    }

    .action-btns {
        padding-bottom: 10px;
    }

    .action-btn {
        width: 180px;
        color: var(--black);
    }

    .main-content {
        margin: 0 auto;
    }

    .overview-container {
        flex-direction: column;
        text-align: center;
    }

    .overview-container h2 {
        font-size: 25px;
    }

    .accounts-overview, .spendings-overview {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 80vw;
        margin: 0 auto;
    }

    .accounts-items, .spendings-items {
        max-width: 90vw;
    }

    .account-item, .spending-item {
        max-width: 90vw;
    }

    .account-item p, .spending-item p {
        font-size: 15px;
    }

    .info-container {
        width: 300px;
    }

    .info-container p {
        font-size: 20px;
        padding-top: 30px;
    }

    footer p {
        font-size: 14px;
        padding: 0; 
    }
}

@media only screen and (min-width: 800px) {
    .action-btn:hover,
    .action-btn:focus {
        background-color: var(--light-blue);
        width: 290px;
    }
}